.footer {
  position: relative;
  z-index: 1000;
  padding: 0 10%;
  height: 60px;
  width: 100%;
  @include flexRow(center, space-between);
  padding-bottom: 20px;
  &__content {
    > p {
      color: #8b949e;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px; /* 150% */
      text-align: center;
    }
  }
  &__socials {
    @include flexRow($gap: 20px);
    > a {
      color: #8b949e;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px; /* 150% */
      cursor: pointer;
      text-decoration: none;
    }
  }
  @media screen and (max-width: 666px) {
    @include flexCol(center, center);
    flex-direction: column-reverse;
    padding-bottom: 60px;
  }
}
