.navigation {
  position: absolute;
  top: 0;
  padding: 0 10%;
  width: 100%;
  z-index: 1000;
  @include flexRow(center, space-between);
  padding-top: 30px;
  &__logo {
    width: auto;
    height: 50px;
  }
  &__links {
    min-width: 180px;
    @include flexRow(center, flex-start, 48px);
    .link-item {
      color: #dee0e3;
      text-align: center;
      font-family: var(--font-open-sans);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
      text-decoration: none;
      &:hover {
        color: #fff;
      }
      &.active {
        color: #fff;
        font-weight: 500;
      }
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  &__icons {
    min-width: 180px;
    @include flexRow(center, flex-end, $gap: 24px);
    a > {
      text-decoration: none;
      svg {
        color: #fff;
        width: 25px;
        height: 25px;
      }
    }
    @media (max-width: 800px) {
      display: none;
    }
  }
  &__menu {
    display: none;
    @media (max-width: 800px) {
      display: block;
      cursor: pointer;
      color: #fff;
      font-size: 32px;
    }
  }
  &__mobile-menu {
    .MuiDrawer-content {
      background: #111;
      .mobile-menu-container {
        height: 100%;
        position: relative;
        padding: 36px;
        @include flexCol(flex-start, flex-start);
        .mobile-logo {
          margin-top: 10px;
          width: auto;
          height: 45px;
        }
        .mobile-links {
          margin-top: 36px;
          @include flexCol(flex-start, flex-start, 20px);
          .link-item {
            color: #dee0e3;
            font-family: var(--font-open-sans);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px; /* 144.444% */
            text-decoration: none;
            &:hover {
              color: #fff;
            }
            &.active {
              color: #fff;
              font-weight: 500;
            }
          }
        }
        .mobile-icons {
          position: absolute;
          bottom: 36px;
          left: 36px;
          @include flexRow(center, flex-start, 16px);

          > a {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #1e1f21;
            @include flexRow(center, center);
            cursor: pointer;
            svg {
              color: #fff;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
