.toaster {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  padding: 15px;
  //   padding-top: 25px;
  max-width: 300px;
  //   min-height: 60px;
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
  transition-delay: 0.5s;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  .close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  &.toaster-type-success {
    background-image: linear-gradient(
      to right,
      rgba(37, 170, 229, 1),
      rgba(0, 240, 255, 0.5)
    );
  }
  &.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  &.hide {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
}
