.home {
  position: relative;
  width: 100%;
  flex: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include flexCol(center, center, 35px);
  // padding-top: 200px;
  &__launch {
    position: relative;
    @include flexRow(center, center, 10px);
    height: 46px;
    padding: 8px 24px;
    > span {
      position: relative;
      text-transform: uppercase;
      font-size: 14px;
      z-index: 3;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: 150%; /* 150% */
      text-align: center;
      color: #fff;
      cursor: pointer;
      opacity: 0.7;
    }
    &::before {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 46px;
      border-radius: 10px;
      background-image: linear-gradient(
        to right,
        rgba(37, 170, 229, 0.5),
        rgba(37, 170, 229, 1),
        rgba(37, 170, 229, 0.5)
      );
    }
    &::after {
      z-index: 2;
      position: absolute;
      top: 1px;
      left: 1px;
      border-radius: 10px;
      content: "";
      width: calc(100% - 2px);
      height: 44px;
      background-color: #111;
    }
  }
  .main-heading {
    width: 50%;
    background: linear-gradient(91deg, #ff1cf7 2.26%, #00f0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-montserrat);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
  }
  .para {
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 150% */
    opacity: 0.7;
  }
  .email-field {
    margin-top: 30px;
    width: 30%;
    position: relative;
    height: 50px;
    @include flexRow(center, space-between);
    background-color: #111;
    border-radius: 30px;
    input {
      flex: 1;
      position: relative;
      top: 2px;
      margin-left: 25px;
      height: 50px;
      z-index: 3;
      background-color: transparent;
      border: none;
      color: #fff;
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: #fff;
        opacity: 0.3;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
      }
    }
    button {
      height: 46px;
      top: 2px;
      right: 4px;
      z-index: 3;
      padding: 0 25px;
      border-radius: 60px;
      background: #25aae5;
      color: #fff;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 150% */
      text-transform: none;
      white-space: nowrap;
      &:focus {
        outline: none;
      }
    }
    &::before {
      z-index: 0;
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 54px;
      border-radius: 30px;
      background-image: linear-gradient(
        to right,
        rgba(37, 170, 229, 1),
        rgba(0, 240, 255, 0.5)
      );
    }
    &::after {
      z-index: 2;
      position: absolute;
      top: 1.25px;
      left: 1.5px;
      border-radius: 30px;
      content: "";
      width: calc(100% - 3px);
      height: 51px;
      background-color: #111;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home {
    // padding-top: 150px;
    .main-heading {
      width: 70%;
    }
    .para {
      width: 65%;
    }
    .email-field {
      width: 45%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    // padding-top: 130px;
    .main-heading {
      width: 70%;
      font-size: 40px;
    }
    .para {
      width: 65%;
      font-size: 16px;
    }
    .email-field {
      width: 55%;
    }
  }
}

@media screen and (max-width: 600px) {
  .home {
    .main-heading {
      width: 70%;
      font-size: 36px;
    }
    .para {
      width: 70%;
      font-size: 14px;
    }
    .email-field {
      width: 70%;
    }
  }
}

@media screen and (max-width: 480px) {
  .home {
    .main-heading {
      width: 80%;
      font-size: 32px;
    }
    .para {
      width: 75%;
      font-size: 14px;
    }
    .email-field {
      width: 75%;
      height: 40px;
      border-radius: 20px;
      input {
        flex: 1;
        margin-left: 15px;
        height: 40px;
        &::placeholder {
          font-size: 14px;
        }
      }
      button {
        height: 36px;
        top: 2px;
        right: 4px;
        padding: 0 25px;
        border-radius: 40px;
        font-size: 13px;
      }
      &::before {
        height: 44px;
        border-radius: 20px;
      }
      &::after {
        top: 1.5px;
        border-radius: 20px;
        height: 41px;
      }
    }
  }
}

@media screen and (max-width: 395px) {
  .home {
    .email-field {
      width: 90%;
    }
  }
}
