.privacy-page {
  margin-top: 140px;
  width: 100%;
  height: 100vh;
  flex: 1;
  padding: 60px 120px;
  @media (max-width: 800px) {
    margin-top: 100px;
    padding: 60px 24px;
  }
  .page-heading {
    background: linear-gradient(91deg, #ff1cf7 2.26%, #00f0ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-montserrat);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.12px;
    flex: 1;
    white-space: nowrap;
    margin-bottom: 32px;
  }
  .privacy-policy-container {
    width: 100%;
    margin-bottom: 160px;
    @include flexCol(flex-start, flex-start, 48px);
    .privacy-policy-section {
      @include flexCol(flex-start, flex-start, 48px);
      .section-heading {
        color: #d3d6da;
        font-family: var(--font-open-sans);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .privacy-policy-content {
        .section-subheading {
          color: #d3d6da;
          font-family: var(--font-open-sans);
          font-size: 28px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 16px;
        }
        .description {
          color: #d3d6da;
          font-family: var(--font-open-sans);
          font-size: 20px;
          font-style: normal;
          font-weight: 300;
          line-height: normal;
          margin-bottom: 16px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
