@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

@mixin flexRow($align: center, $justify: flex-start, $gap: 10px) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

@mixin flexCol($align: center, $justify: flex-start, $gap: 10px) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
  gap: $gap;
}

.Toastify__toast-theme--dark {
  border-radius: 12px !important;
  background: rgba(12, 17, 29, 0.9) !important;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12) !important;
  padding: 16px;
}
